<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index</title>
</head>
<body>
    <h1>Rutas disponibles</h1>
    <ul>
        <li><a href="/">/</a></li>
        <li><a href="/api/canciones">/api/canciones</a></li>
        <li><a href="/api/canciones/1">/api/canciones/id</a></li>
        <li><a href="/api/generos">/api/generos</a></li>
    </ul>
</body>
</html>